*{
	box-sizing:border-box;
}
* body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }
.carousel-inner > .item > img {
    margin: 0 auto;
}
.projects{
	font-size: 24px;
	font-weight: normal;
    font-family: 'Lato', sans-serif;
}
.projectsection{
	padding-top: 5%;
	height: 500px;
}
.circles{
	width:100px;
	height: 100px;
	border-radius: 50%;
	background-color: lightgray;
	margin: auto;
	text-align: center;
}	
.box{
	height: 300px;
	position: relative;
}
