*{
	box-sizing:border-box;
}

.background{
	background-color: #f46841;
	position:absolute;
	width:100%;
	height: 600px;
	top: 0;
	left: 0;
	z-index: -1;
}
.jumbotron{
	height: 600px;
	color: white;
	background:transparent;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.bginner{
	margin: auto;
	text-align: center;
}
.text-center{
	position: relative;
    top: 60px;
}
.text-center p{
	position: relative;
    top: 90px;
}

.boxbackground{
    position: absolute;
    width: 100%;
    top: 3%;
}

.navdesign{
	display:inline-block;
	width: 150px;
	height: 150px;
}

.interest{
	height: 500px;
	border: 1px solid black;
}
#box1{
	font-family: "Caflisch Script Pro", cursive;
	font-size: xx-large;
}

#box2{
	font-family: "Caflisch Script Pro", cursive;
	font-size: xx-large;
}
#box3{
	font-family: "Caflisch Script Pro", cursive;
	font-size: xx-large;
}

.contact{
	background-image: url("contact.jpg");
	height: 500px;
}
.contacth1{
	top:0px;
}

.form-control{
	width: 40em;
	clear: left;
}
.button{
	margin-top: 10px;
	float:left;
}
.textinput{
	height: 10em;
}
.inputinfo{
	float: left;
}
.contactinfo{
	float:right;
	width: 30em;
	font-size: 2em;
	text-align: center;
	padding-top: 4%;
}

.footer {
  background: gray;
  padding: 10px 0;
}
.footer a {
  color: white;
  padding: 10px;
  border-right: 1px solid black;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid black;
}
.footer a:hover {
  color: #f46841;
}

/*Mobile */

@media only screen and (max-width: 600px) {
.navdesign{
	display:inline-block;
	width: 15px;
	height: 15px;
	background-color: white;	
}
}