*{
	box-sizing:border-box;
}

.background{
	background-color: #f46841;
	position: fixed;
	width:100%;
	height: 600px;
	top: 0;
	left: 0;
	z-index: -1;
}
.jumbotron{
	height: 600px;
	color: white;
	background:transparent;
	margin-bottom: 5px;
	padding-bottom: 5px;

}
/*.containerbox{
	text-align: center;
	width: 500px;
    margin-left: 420px;
}
*/
}
.boxbackground{
    position: absolute;
    /*top: 100px;
    left: 20%;*/
}
.navdesign{
	display:inline-block;
	width: 150px;
	height: 150px;
	background-color: white;
	/*position: relative;
	top: 100px;
	left: 17%;*/
}

.interest{
	height: 350px;
}
#box1{
	font-family: "Caflisch Script Pro", cursive;
	font-size: xx-large;
}

#box2{
	font-family: "Caflisch Script Pro", cursive;
	font-size: xx-large;
}
#box3{
	font-family: "Caflisch Script Pro", cursive;
	font-size: xx-large;
}

.contact{
	background-color: green;
	height: 350px;
}

#footerdiv{
	clear: both;
}

/*Mobile */

@media only screen and (max-width: 600px) {
