*{
	box-sizing:border-box;
}
@keyframes colorswitch {
    /*from {background-color: #f46841;}
    to {background-color: yellow;}*/
     0%   {background-color: #f46841;}
    20%  {background-color: yellow;}
    40%  {background-color: blue;}
    60% {background-color: green;}
    80% {background-color: purple;}
    100% {background-color: #f46841;}
}
.background{
	background-color: #f46841;
	position:absolute;
	width:100%;
	height: 600px;
	top: 0;
	left: 0;
	z-index: -1;
    animation-name: colorswitch;
    animation-duration: 8s;
    animation-iteration-count: 10;
}   
.jumbotron{
	height: 600px;
	color: white;
	background:transparent;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.bginner{
	margin: auto;
	text-align: center;
}
.text-center{
	position: relative;
    top: 60px;
}
.text-center p{
	position: relative;
    top: 90px;
}

.boxbackground{
    position: absolute;
    width: 100%;
    top: 3%;
    pointer-events:none;
}

.navdesign{
	display:inline-block;
	width: 150px;
	height: 150px;
}

.interest{
	height: 500px;
	margin: 0;
}
.box{
	font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
	height: 350px;
	position: relative;
}
.basicbox{
	background-image: url("../Basic.jpg");
	background-size:cover;
}
.websiteh1{
	margin: 0px;
    top: 100%;
    font-size: 30px;
}
.websiteh4{
	margin: 0px;
    top: 100%;
    font-size: 20px;
}
.website{
	width:80%;
	height: 300px;
	background-image: url("../Basic.jpg");
	background-size:cover;
	text-align: center;
	box-shadow: 0px 2px 16px #888888;
	margin:auto;
}
.websitesection{
	background-color: #f7f7f7;
}
.contact{
	background: url("../contact.jpg");
	background-size: cover;
	background-position: center;
	height: 500px;
}
.contacth1{
	top:0px;
	color: white;
}

.form-control{
	width: 40em;
	clear: left;
}
.button{
	margin-top: 10px;
	float:left;
}
.textinput{
	height: 10em;
	text-align: left;
}
.inputinfo{
	float: left;
	color: white;
}
.contactinfo{
	float:right;
	font-size: 2em;
	text-align: center;
	padding-top: 4%;
	color: white;
	padding-right: 5%;
    width: 45%;
}
.contactform{
	padding-left: 5%;
	width: 45%
}

.footer {
  background: gray;
  padding: 10px 0;
}
.footer a {
  color: white;
  padding: 10px;
  border-right: 1px solid black;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid black;
}
.footer a:hover {
  color: #f46841;
}

/*Mobile */

@media only screen and (max-width: 600px) {
.navdesign{
	display:inline-block;
	width: 15px;
	height: 15px;
	background-color: white;	
}
}